# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node (jika nanti pakai npx serve)
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc

# Local / sementara
*.log
*.tmp
.cache/
